.create {
  display: flex;
  flex-direction: column;
}

.buttonCreate {
  background-color: white;
  color: purple;
  width: 10%;
  padding: 10px;
  font-size: 1.1rem;
  border-radius: 5%;
}
.buttonCreate:hover {
  background-color: purple;
  color: white;
  cursor: pointer;
}
.createPlatforms {
  display: flex;
  justify-content: center;
}
.createGenres {
  display: flex;
  justify-content: center;
}
