.home {
  background-color: pink;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0px;
  height: 600px;
}
.videocards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.videocard {
  background-color: red;
}
