.home {
  background-color: pink;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0px;
  height: 100%;
}
.videocards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.videocards a {
  text-decoration: none;
  color: purple;
  width: 33%;
}

.videocards a:hover {
  background-color: purple;
  color: white;
}
